.cor{
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 20px;
    width: 20px;
}

.balao::after {
    border-color: #000 transparent;
    border-style: solid;
    border-width: 0 15px 15px;
    bottom: 80px;
    content: "";
    display: block;
    left: 50px;
    position: absolute;
    top: -13px;
    width: 0;
}
.balao {
    background: #000 none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    margin: 22px 0 10px;
    padding: 6px 0 2px;
    position: absolute;
    text-align: center;
    min-width: 103px;
    min-height: 47px;
    max-width: 500px;
    clear: both;
}